body {
  margin: 0;

  img {
    filter: grayscale(0.6);
  }
img-fluid{
  width: 100%;
}

}

  .navbar-toggler {
    border-style: none;

  }


  footer {
    margin: 1%;
    padding: 1%;
  }



.imageLocation{
  width: 500px;
  height: 500px;
}



